
.board{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}





td{
    height: 3rem;
    width:3rem;
    border:1px solid;
    text-align:center;
    
    display: table-cell;
	vertical-align: middle;

    position: relative;
}

.index{
    font-size: small;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999;
}


td:first-child {
    border-left:solid;
}

td:nth-child(3n) {
    border-right:solid ;
}

tr:first-child {
    border-top:solid;
}

tr:nth-child(3n) td {
    border-bottom:solid ;
  }

.cell{
    background-color: rgb(230, 230, 230);
}

